body {
    background-color: #222;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: #ffffff;
    font-family: sans-serif;
    grid-template: 
    "header header header header" 10em
    ". main aside ." auto
    "footer footer footer footer" 10em
    / 1fr 5fr 2fr 1fr;
grid-column-gap: 1rem;
  }
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Merriweather|Six+Caps&display=swap');


header{
grid-area: header;
}

header,
footer{
background-color: #222;
color: #e9d20f;
text-align: center;
}

.header-title{
font-family: 'Six Caps', sans-serif;
font-size: 2.875rem;
letter-spacing: 0.3em;
}

main{
grid-area: main;
}

aside{
grid-area: aside;

background-color: #252525;
padding: 2rem;
}

footer{
grid-area: footer;

display: flex;
justify-content: space-around;
align-items: center;
}

.card{
display: grid;
grid-template: 
    "img title" 3rem
    "img content" auto
    / 1fr 2fr;
box-shadow: 0 0px 4.5px -6px rgba(0, 0, 0, 0.016),
        0 0px 13.6px -6px rgba(0, 0, 0, 0.021),
        0 0px 29.9px -6px rgba(0, 0, 0, 0.024),
        0 0px 52.5px -6px rgba(0, 0, 0, 0.029),
        0 0px 70.2px -6px rgba(0, 0, 0, 0.04),
        0 0px 80px -6px rgba(0, 0, 0, 0.07)
    ;
margin-bottom: 1rem;

}

.card-img{
grid-area: img;
}

.card-title{
grid-area: title;

margin: 0;
padding: 0.2rem;
font-weight: 300;
}

.card-content{
grid-area: content;
padding: 0 0.5rem 0.5rem;
}

.card-content a{
text-decoration: none;
font-size: 1.1rem;
color: #e9d20f;
font-weight: 700;
}

.card-content a:hover{
color: darkkhaki;
}

.twitter svg,
.insta svg,
.linkedin svg,
.github svg{
transition: transform 150ms ease-in-out;
}

.twitter svg:hover,
.insta svg:hover,
.linkedin svg:hover,
.github svg:hover{
fill: #e9d20f !important;
transform: scale(1.15);
}
/* used  https://youtu.be/7Xyg8Ja7dyY?si=f6G-VGUDy1Z4XQmQ  
.glitch {
    /* using rem cuz the background glitch will scale acordingly with the main text  
    font-size: 5.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    

    text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

   animation: glitch 550ms infinite;

}

 .glitch span { 
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
  }
/* the actual shadow moving part of the glitch.  */
/* esecially the shadows here are in different positions and the animation goes through them.  
@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), 
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), 
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), 
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75), 
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
        text-shadow: -0.05em  -0.025em 0 rgba(255, 0, 0, 0.75), 
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75), 
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 
        0.05em 0 0 rgba(0, 255, 0, 0.75), 
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), 
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }   
}
*/ 

 


